body{
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    text-align: center;
}

a{
    color: black;
}

p{
    text-align: justify;
}

li{
    display:inline-block;
    margin: 5;
    text-align: center;
    padding: 5;
    background-color: rgb(228, 200, 166);
    border-radius: 10px;
    /* justify-content: left; align-items: start; */
}

li:hover{
    background-color: azure;
    color: black;
}
h1{
    text-align: center;
}
span{
    color: rgb(121, 49, 237);
}

.intro{
    margin-right: 100px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    /* margin: 20px; */
    padding: 100px;
}

.p1{
    padding: 20px;
}

.p2{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .intro {
        grid-template-columns: 1fr; /* stack vertically */
        text-align: center;
        padding: 20px;
    }

    .p1 {
        padding: 10px;
    }

    .p2 {
        margin-top: 20px;
    }

    .p2 img {
        width: 150px;
        height: auto;
    }
}


.work{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px;
}

.projects{
    margin: 100;
}

.pp1{
    display: grid;
    grid-template-columns: 1fr;

}

button{
    background-color: rgb(121, 49, 237);
    color: white;
    border-radius: 10px;
    padding: 8;
    font-weight:bold
}

button:hover{
    background-color: rgb(182, 167, 207);
    color: black;
    cursor: pointer;
}

.languages, .aid, .aif, .WebTesting{
    border: solid;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5;
}

