body{
    margin: auto;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    text-align: center;
}

a{
    color: black;
}

li{
    display:inline-block;
    margin: 5;
    text-align: center;
    padding: 5;
    background-color: rgb(228, 200, 166);
    border-radius: 10px;
    justify-content: left; align-items: start;
}

li:hover{
    background-color: azure;
    color: black;
}

span{
    color: rgb(121, 49, 237);
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    background-color: rgb(161, 172, 172);
    align-items: center;
    margin: 20px;
    padding: 50px;
}

.p1{
    padding: 20px;
}

.p2{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .intro {
        grid-template-columns: 1fr; /* stack vertically */
        text-align: center;
        padding: 20px;
    }

    .p1 {
        padding: 10px;
    }

    .p2 {
        margin-top: 20px;
    }

    .p2 img {
        width: 150px;
        height: auto;
    }
}


.work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(161, 172, 172);
    border-radius: 10px;
    margin: 20px;
    padding: 50px;
}

